{% extends 'base.html' %}

{% block content %}
    <div class="card shadow-sm col-md-6 mx-auto">
        <div class="card-header">
            <h1 class="h3 mb-0">Crear Nueva Marca</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                
                <hr>
                <div class="text-end">
                    <a href="{% url 'lista_marcas' %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar Marca</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}